#
# Copyright (C) 2016+ AzerothCore <www.azerothcore.org>, released under GNU AGPL v3 license: https://github.com/azerothcore/azerothcore-wotlk/blob/master/LICENSE-AGPL3
#

[worldserver]

#
#    ProgressionSystem.LoadScripts
#        Description: Enable loading scripts from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadScripts = 1

#
#    ProgressionSystem.LoadDatabase
#        Description: Enable loading SQL files from bracket modules
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.LoadDatabase = 1

#
#    ProgressionSystem.ReapplyUpdates
#        Description: Always reapply every SQL file on start up. Warning: impacts start up times.
#        Default:     1 - Enabled
#                     0 - Disabled
#

ProgressionSystem.ReapplyUpdates = 0

#
#    ProgressionSystem.Bracket_X
#        Description: Defines if the bracket should be loaded being 0 not loaded, 1 loaded.
#        Default:     0 - Not loaded.
#

ProgressionSystem.Bracket_0       = 0
# TBC2.3之前经验调整
ProgressionSystem.Bracket_0_1     = 0
# 影牙城堡, 死亡矿井, 哀嚎洞穴, 黑暗深渊, 怒焰裂谷
ProgressionSystem.Bracket_1_19    = 0
# 暴风城监狱, 剃刀沼泽, 诺莫瑞根
ProgressionSystem.Bracket_20_29   = 0
# 奥达曼, 剃刀高地, 血色修道院
ProgressionSystem.Bracket_30_39   = 0
# 沉没的神庙, 祖尔法拉克, 玛拉顿
ProgressionSystem.Bracket_40_49   = 0
# 黑石深渊, 厄运之槌, 通灵学院, 斯坦索姆
ProgressionSystem.Bracket_50_59_1 = 0
# Blackrock Spire attunement requirement
ProgressionSystem.Bracket_50_59_2 = 0
# 黑石塔
ProgressionSystem.Bracket_60_1_1  = 0
# 熔火之心
ProgressionSystem.Bracket_60_1_2  = 0
# 奥妮克希亚的巢穴
ProgressionSystem.Bracket_60_2_1  = 0
# 黑翼之巢
ProgressionSystem.Bracket_60_2_2  = 0
# 祖尔格拉布
ProgressionSystem.Bracket_60_3_1  = 0
# 安其拉废墟20
ProgressionSystem.Bracket_60_3_2  = 0
# 安其拉神殿40
ProgressionSystem.Bracket_60_3_3  = 0
# 61-64 副本
ProgressionSystem.Bracket_61_64   = 0
# 65-69 副本
ProgressionSystem.Bracket_65_69   = 0
# 等级70, 飞行, 普通副本
ProgressionSystem.Bracket_70_1_1  = 0
# 等级70, 英雄副本
ProgressionSystem.Bracket_70_1_2  = 0
# 格鲁尔的巢穴, 玛瑟里顿的巢穴, 竞技场第一赛季
ProgressionSystem.Bracket_70_2_1  = 0
# 卡拉赞
ProgressionSystem.Bracket_70_2_2  = 0
# 奥格瑞拉
ProgressionSystem.Bracket_70_2_3  = 0
# 毒蛇神殿
ProgressionSystem.Bracket_70_3_1  = 0
# 风暴要塞, 沙塔尔天空卫队
ProgressionSystem.Bracket_70_3_2  = 0
# 海加尔山之战, 竞技场第二赛季, 虚空龙
ProgressionSystem.Bracket_70_4_1  = 0
# 黑暗神殿
ProgressionSystem.Bracket_70_4_2  = 0
# 祖阿曼, 竞技场第三赛季
ProgressionSystem.Bracket_70_5    = 0
# TBC2.3经验调整
ProgressionSystem.Bracket_70_5_1  = 0
# 奎尔丹纳斯岛, 魔导师平台
ProgressionSystem.Bracket_70_6_1  = 0
# 太阳之井, 竞技场第四赛季
ProgressionSystem.Bracket_70_6_2  = 0
# 71-74 副本
ProgressionSystem.Bracket_71_74   = 0
# 75-79 副本
ProgressionSystem.Bracket_75_79   = 0
# 英雄副本, 纳克萨玛斯, 黑曜石圣殿, 永恒之眼, 阿尔卡冯的宝库, 竞技场第五赛季
ProgressionSystem.Bracket_80_1    = 0
# 奥杜尔, 勇气试炼, 竞技场第六赛季
ProgressionSystem.Bracket_80_2    = 0
# 奥妮克希亚的巢穴, 十字军的试炼, 竞技场第七赛季
ProgressionSystem.Bracket_80_3    = 0
# 冰冠堡垒, 冰冠堡垒五人本, 竞技场第八赛季
ProgressionSystem.Bracket_80_4_1  = 0
# 红玉圣殿
ProgressionSystem.Bracket_80_4_2  = 0
ProgressionSystem.Bracket_Custom  = 0

#
#
#
#    ProgressionSystem.60.MoltenCore.ManualRuneHandling
#        Description: 当boss被击败时火焰之王的符文的处理方式，手动处理（水之精萃/永恒精萃灭火），自动处理（WotLK默认值）
#        Default:   1 - Enabled (需要浇灭)
#                   0 - Disabled (自动, handled when bosses are defeated)
#
#

ProgressionSystem.60.MoltenCore.ManualRuneHandling = 1

#
#    ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction
#        Description: 降低 永恒精萃 的冷却时间
#        Default:   0 - Disabled (1 hour cooldown)
#                   60 - (No cooldown)
#
#

ProgressionSystem.60.MoltenCore.AqualEssenceCooldownReduction = 0

#
#    ProgressionSystem.60.WorldBosses.KazzakPhasing
#        Description: Enables phasing out players and boss when Lord Kazzak is engaged.
#        Default:   1 - Enabled (Players and boss will be phased)
#                   0 - Disabled
#
#

ProgressionSystem.60.WorldBosses.KazzakPhasing = 1

#
#    ProgressionSystem.70.SerpentshrineCavern.RequireAllBosses
#        Description: Requires all bosses being killed before accessing Vashj's console panel.
#        Default:   1 - Enabled
#                   0 - Disabled
#
#

ProgressionSystem.70.SerpentshrineCavern.RequireAllBosses = 1

#
#    ProgressionSystem.70.TheEye.RequireAllBosses
#        Description: 所有BOSS被击杀后方可开启通往凯尔萨斯房间的门
#        Default:   1 - Enabled
#                   0 - Disabled
#
#

ProgressionSystem.70.TheEye.RequireAllBosses = 1
